@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* @apply mx-auto; */
    @apply bg-slate-400 dark:bg-stone-800 text-stone-800;

  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  /* color: #bae6fd; */
}


.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #bae6fd ;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Style the tab */

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* li:before {
  content:"\f35a";
  font-family: 'FontAwesome';
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em
} */

/* li {
  list-style-image: url('../public/circle-right-solid-dark.svg');
  
} */

.img-li {
  list-style: none;
  background-image: url('../public/circle-right-solid-dark.svg');
  background-size: .75rem;
  background-repeat: no-repeat;
	background-position: left center;

}

.img-li:dark {
 
  background-image: url('../public/circle-right-solid-dark.svg');
 

}
